/* fonts */

@font-face {
    font-family: "Muli";
    src: url("../assets/fonts/muli/Muli.ttf");
}

/* light reset css */
body {
    margin: 0px;
    font-family: Muli;
}

/* header */

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 8px 0px;
}

#left-header {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#burger {
    width: 24px;
    height: 24px;
}

#burger img {
    width: 100%;
    margin: auto;
}

#main-icon {
    padding-left: 16px;
    width: 48px;
}

#main-icon img {
    width: 100%;
    margin: auto;
}

#search {
    border: 1px rgb(255, 95, 50) solid;
    border-radius: 32px;
    padding: 4px;
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search p {
    font-size: 12pt;
    margin: 0px;
}

#search-icon {
    border-radius: 16px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 95, 50);
}

#icon {
    width: 14px
}

#search-icon #icon>img {
    width: 100%;
}

#account {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

#account>img {
    width: 16px;
    height: 16px;
}

#account>div>img {
    width: 16px;
}

#account>div img:nth-child(2) {
    margin-left: 8px;
    width: 8px
}

#language {
    display: flex;
    align-items: center;
}

/* main */

h2 {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
    margin:auto;
}

h2 > p {
    width:45%;
}

h2 > div {
    height:1px;
    background-color: #00653f;
    width:45%;
}
/* title section */

#title {
    background-color: #c0e3d1;
    padding: 8px;
}

#notation {
    display: flex;
    margin-right: auto;
    margin-top: 16px;
}

#notation .circle {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #4bab77;
    margin: 2px;
}

#title p {
    margin-top: 0px;
}

/* share section */

#share {
    display: flex;
    margin-left: auto;
    margin-right: 8px;
    margin-top: 16px;
    width: 33%;
    justify-content: space-around;
}

#share .img-container {
    width: 24px;
    background-color: #00653f;
    border-radius: 16px;
    padding: 4px;
}

#share .img {
    width: 16px;
    margin: auto;
}

#share img {
    width: 100%;
    margin: auto;
}

/* localisation */

#localisation {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    box-shadow: 0 4px 10px 0 rgba(32, 42, 39, .09);
    margin-top: 16px;
    margin-bottom: 32px;
}

/* description */

#img-description {
    width: 100%;
    height: 500px;
    background-image: url('../assets/photos/photo-entree.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

#img-description .over-button {
    width: 128px;
    padding:8px;
    background-color: #00653f;
    color:white;
    border-radius: 18px;
    font-size: 10pt;
    text-transform: capitalize;
    text-align: center;
}

#img-description #all-inclusive {
    position: relative;
    top:20px;
    left:40px;
}

#img-description #see-more {
    position:relative;
    top: 410px;
    margin:auto;
}

#description p {
    width: 90%;
    border-bottom: solid #c0e3d1 1px;
    margin: auto;
    padding: 12px;
}
